<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IIPEPSerieService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52549/IPEPSerieService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIPEPSerieService"
                contract="ServiceReference.IIPEPSerieService" name="BasicHttpBinding_IIPEPSerieService" />
        </client>
    </system.serviceModel>
</configuration>